*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Chillax', sans-serif;
}
.flux{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./Assets/Images/polygon-scatter-haikei.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    
/* From https://css.glass */
background: rgba(71, 187, 232, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.1px);
-webkit-backdrop-filter: blur(6.1px);
border: 1px solid rgba(71, 187, 232, 0.3);

height: 32rem;
width: 25rem;
margin: auto;
text-align: center;
/* background: linear-gradient(90deg, rgba(144,224,239,1) 0%, rgba(0,180,216,0.99781162464986) 99%); */



}
.heading1{
   color: #001829;
   font-size: 30px;
   margin-top: 2rem;
}

input{
    width: 20rem ;
    height: 2rem;
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #001829;
    font-family: 'Poppins';
    text-align: center;
    font-size: 15px;
}
.useri{
    font-weight: bold;
    text-transform: uppercase;
}
::placeholder{
    text-align: center;
    color: #001829;
    opacity: 0.5;
}
.data{
    margin-top: 3rem;
}
.fa-regular ,.fa-solid {
    margin-left: -1rem;
}
button{
    padding: 6px;
    width: 160px;
    height: 50px;
    border-radius: 12px;
    border: 0px;
    background-color: #001829;
    color: #297EA6;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: #001829;
   display: block;
   
}
